*.exe binary
*.dll binary
*.pyd binary
*.zip binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.html text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.txt text eol=lf
